@import '../module';

.buttonSolid{
  
  padding:4% 10%;
  text-align: center;
  color: #FFFFFF;
  background-color: #007EFF;
  font-weight: bold;
  outline: none;
  line-height: 1em;
  border:none;
  border-radius: 4px;
  height: 41px;
}