$headerHeight: 72px;
$headerWidth: 448px;
$lightBackground: #FFFFFF;
$chatMeBackground: #4BA7D8;
$chatBotBackground: #FFFFFF;
$gutterMobile:2% 4%;
$minWidthTablets: 45em;
$minWidthDesktop: 64.25em;
$sizeTitle1: 16px;
$sizeSubtitle1: 14px;
$sizeSubtitle2: 13px;
$sizeBody1: 0.9em;
$shadowHeight: 30px;
$boxMessageControlHeight: 75px;
$defaultHorizontalPadding: 4%;